<div class="container clearfix" ng-controller="accountController">
	<form name="loginForm" class="form-horizontal">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Login</h1>
				<div class="form-group">
					<input type="email" id="tbUsername" name="tbUsername"
						   class="form-control"
						   placeholder="Username"
						   required="required"
						   ng-model="model.userInfo.email" />
					<input type="password" id="tbPassword" name="tbPassword"
						   class="form-control"
						   placeholder="Password"
						   required="required"
						   ng-model="model.userInfo.password"
						   ng-minlength=6 />
				</div>
				<br />
				<div class="error-container">
					<div>
						<small class="error"
							   ng-show="loginForm.tbUsername.$error.required">
							The Email field is required.
						</small>
						<small class="error"
							   ng-show="loginForm.tbUsername.$error.email">
							The Email field value is not valid.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="loginForm.tbPassword.$error.minlength">
							Password must be must be at least 6 characters long.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="loginForm.tbPassword.$error.required">
							The Password field is required.
						</small>
					</div>
				</div>
			</div>
		</div>
		<div data-page-action data-action-name="Login" data-action="model.login" data-form="loginForm"></div>
	</form>
</div>