<div class="container clearfix">
	<form name="regForm" class="form-horizontal">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Register</h1>
				<div class="form-group">
					<label for="tbEmail" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
						<input type="email" id="tbEmail" name="tbEmail"
							   class="form-control"
							   required="required"
							   ng-model="model.userInfo.email" />
					</div>
				</div>
				<div class="form-group">
					<label for="tbPassword" class="col-lg-2 control-label">Password</label>
					<div class="col-lg-10">
						<input type="password" id="tbPassword" name="tbPassword"
							   class="form-control"
							   required="required"
							   ng-model="model.userInfo.password"
							   ng-minlength=6 />
					</div>
				</div>
				<div class="form-group">
					<label for="tbConfirmPassword" class="col-lg-2 control-label">Confirm password</label>
					<div class="col-lg-10">
						<input type="password" id="tbConfirmPassword" name="tbConfirmPassword"
							   class="form-control"
							   required="required"
							   ng-model="model.userInfo.confirmPassword"
							   ng-minlength=6 />
					</div>
				</div>
				<div class="form-group">
					<label for="tbIsDriver" class="col-lg-2 control-label">Are you Driver?</label>
					<div class="col-lg-10">
						<input type="checkbox" id="tbIsDriver"
							   class="form-control"
							   ng-model="model.userInfo.isDriver" />
					</div>
				</div>
				<div class="form-group" data-ng-show="model.userInfo.isDriver">
					<label for="tbCar" class="col-lg-2 control-label">Car</label>
					<div class="col-lg-10">
						<input type="text" id="tbCar" name="tbCar"
							   class="form-control"
							   ng-model="model.userInfo.car"
							   ng-minlength=3 />
					</div>
				</div>
				<br />
				<div class="error-container">
					<div>
						<small class="error"
							   ng-show="regForm.tbEmail.$error.required">
							The Email field is required.
						</small>
						<small class="error"
							   ng-show="regForm.tbEmail.$error.email">
							The Email field value is not valid.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="regForm.tbPassword.$error.minlength">
							Password must be must be at least 6 characters long.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="regForm.tbPassword.$error.required">
							The Password field is required.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="regForm.tbConfirmPassword.$error.minlength">
							Password must be must be at least 6 characters long.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="regForm.tbConfirmPassword.$error.required">
							The Password field is required.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="regForm.tbCar.$error.minlength">
							Car name must be at least 3 characters long.
						</small>
					</div>
				</div>
			</div>
		</div>
		<div data-page-action data-action-name="Register" data-action="model.register" data-form="regForm"></div>
	</form>
</div>