<div class="container clearfix">
	<form name="createForm" class="form-horizontal">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class="text-center">Create Trip</h1>
				<div class="form-group">
					<label class="col-lg-2 control-label">From</label>
					<div class="col-lg-10">
						<select name="from" ng-model="model.from" ng-options="from for from in model.fromCities" required>
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">To</label>
					<div class="col-lg-10">
						<select name="to" ng-model="model.to" ng-options="to for to in model.toCities" required>
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Available seats</label>
					<div class="col-lg-10">
						<input type="number" name="availableSeats"
							   class="form-control"
							   required="required"
							   ng-model="model.availableSeats"
							   min="1"
							   max="254" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Departure time</label>
					<div class="col-lg-10">
						<input type="date" name="departureTime"
							   class="form-control"
							   required="required"
							   ng-model="model.departureTime" />
					</div>
				</div>
				<br />
				<div class="error-container">
					<div>
						<small class="error"
							   ng-show="createForm.from.$error.required">
							The "From" field is required.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="createForm.to.$error.required">
							The "To" field is required.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="createForm.availableSeats.$error.required">
							The "Available Seats" field is required.
						</small>
						<small class="error"
							   ng-show="createForm.availableSeats.$error.min || createForm.availableSeats.$error.max">
							The "Available Seats" field is must be between 1 and 254.
						</small>
					</div>
					<div>
						<small class="error"
							   ng-show="createForm.departureTime.$error.required">
							The "Departure Time" field is required.
						</small>
					</div>
				</div>
			</div>
		</div>
		<div data-page-action data-action-name="Create" data-action="model.createTrip" data-form="createForm"></div>
	</form>
</div>