.container.clearfix
  form.form-horizontal(name='createForm')
    .row
      .col-md-6.col-md-offset-3
        h1.text-center Create Album
        .form-group
          label.col-lg-2.control-label Title
          .col-lg-10
            input.form-control(type='texd', name='title', required='required', ng-model='model.album.title')
        br
        .error-container
          div
            small.error(ng-show='createForm.title.$error.required')
              | The "Title" field is required.
    div(data-page-action='', data-action-name='Create', data-action='model.create', data-form='createForm')
