div.container.clearfix
	div(data-page-title='', data-title='Welcome to Drasti.bg!')
	br
	br
	br
	div.col-md-12
		div.panel.panel-default
		div.panel-body
			h4.panel-title.text-center Latest Users
			div(ng-include='src="/templates/usersTable"')
