label.pull-right
  button.btn.btn-default(type='button', data-ng-disabled='model.page === 1', data-ng-click='model.goToPrevious()')
    span <<
  input(type='text', data-ng-model='model.page')
  button.btn.btn-default(type='button', data-ng-click='model.goToNext()')
    span >>
