doctype
html
	head
		title Drasti.bg
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/toastr.css")
		link(rel="stylesheet" href="/css/app.css")

		// Socket IO
		script(src="/socket.io/socket.io.js")
	body(ng-app='drastiBg', ng-controller='pageController', ng-cloak='ng-cloak')
		block main-content

		include scripts
		if !!currentUser
			script.
				window.bootstrappedUserObject = !{JSON.stringify(currentUser)}