doctype
html
    head
        title Drasti.bg
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/toastr.css")
        link(rel="stylesheet" href="/css/app.css")
    body(ng-app='drastiBg', ng-controller='pageController', ng-cloak='ng-cloak')
        block main-content

        include scripts