// Scripts
script(src="libs/jquery-2.1.1.min.js")
script(src="libs/bootstrap.min.js")
script(src="libs/toastr/toastr.min.js")
script(src="libs/angular/angular.js")
script(src="libs/angular/angular-route.min.js")
script(src="libs/angular/angular-cookies.min.js")
// Controllers
script(src="app/controllers/baseController.js")
script(src="app/controllers/pageController.js")
script(src="app/controllers/homeController.js")
script(src="app/controllers/accountController.js")
script(src="app/controllers/userInfoController.js")
script(src="app/controllers/tripsController.js")
script(src="app/controllers/tripDetailsController.js")
script(src="app/controllers/tripCreateController.js")
script(src="app/controllers/driversController.js")
script(src="app/controllers/driverDetailsController.js")
// Services
script(src="app/services/authService.js")
script(src="app/services/authInterceptor.js")
script(src="app/services/appService.js")
script(src="app/services/identityService.js")
script(src="app/services/notifyService.js")
// App Main
script(src="app/app.js")
// Filters
script(src="app/filters/driverTrips.js")
//Directives
script(src="app/directives/pagingDirective.js")
script(src="app/directives/pageTitleDirective.js")
script(src="app/directives/pageAction.js")